<div class="input-group">
          <label for="input1">ArtifactId</label>
          <input id="input1" type="text"
          [(ngModel)]="artifactId"
          placeholder="com.example"
          [disabled]="isLoading"/>

          <label for="input2">GroupId</label>
          <input id="input2" type="text" placeholder="test"
          [(ngModel)]="groupId"
          [disabled]="isLoading" />
        </div>
        <div class="button">
          <button class="generate-button" type="button"
          (click)="generateProject()" [disabled]="isLoading">
                 {{ isLoading ? 'Gerando...' : 'Gerar Projeto' }} </button>
        </div>
        <div class="progress-container" *ngIf="isLoading">
        <div class="progress-bar">
          <div class="progress-bar-fill"></div>
        </div>
        <div class="progress-message">{{ progressMessage }}</div>
      </div>
