<main class="main">
  <div class="content">
    <div class="center">
      <h1>Clean Archetype Generator</h1>
      <h2>Um archetype baseado em arquitetura limpa <br> para seus projetos Java</h2>
      <app-archetype-post-component></app-archetype-post-component>
      <app-app-notification></app-app-notification>
      </div>
        <div class="footer">
          <p>Desenvolvido por Paula Buscácio</p>
          <p>Este site faz parte do trabalho de conclusão de curso do MBA em Engenharia de Software - USP/ESALQ</p>
        </div>
    </div>
</main>

