
<style>
  @import './app.component.css';
</style>

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Clean Archetype Generator</h1>
      <h2>A clean archetype for your java projects</h2>
        <div class="footer-text">
          <p>Desenvolvido por Paula Buscácio</p>
          <p>Este site faz parte do trabalho de conclusão de curso do MBA em Engenharia de Software - USP/ESALQ</p>
        </div>
    </div>
  </div>
</main>
<app-archetype-post-component></app-archetype-post-component>
